.main-profile{

    height:80vh;
    width:100%;
}

.profile-container{

    
    height:80vh;
    width:80%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
}

.profile-pic{

    width:40%;
    
}

.prof-pic-user{

    height:250px;
    width:230px;
    border-radius: 250px;
    box-shadow: 0 0 10px purple;
    cursor:pointer;
}

.updating-details{

    width:40%;
    display:flex;
    flex-direction:column;
}

@media screen and (max-width:768px){

    .profile-container{

        display:flex;
        flex-direction:column;
    }
}