.voters-reports{

    height:100vh;
    width:100%;

}


.table-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width:90%;
    margin-left:auto;
    margin-right:auto;

  }
  
  .img{

    width:30px;
    height:30px;
    object-fit:cover;
    border-radius: 16px;
  }