.voters-reports{

    height:100vh;
    width:100%;

}


  table {

    width: 100%;
    /* background-color: rgb(87, 53, 87); */
    background-color: purple;
    color: white;
    border-collapse: collapse;

  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  thead th {
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: violet;
  }
  
  tbody td {
    border-bottom: 1px solid purple;
  }
  
  tbody tr:last-child td {
    border-bottom: none;
  }
  