.table-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    height:100vh;
    /* width:100%; */

  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  
    th,
    td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  
    th {
      background-color: #f1f1f1;
      font-weight: bold;
    }
  
    tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  }